<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../buttons/buttons.css">
  </head>
  <body>
    <button class="simple-button">Simple Button</button>

    <button class="simple-hover">Simple Hover</button>

    <button class="slide-up-hover">Slide-Up Hover</button>

    <button class="grow-hover">Grow Hover</button>

    <button class="rotate-hover">Rotate Hover</button>

    <button class="outline-hover">Outline Hover</button>

    <button class="shadow-hover">shadow-hover</button>

    <button class="bg-color-hover">bg-color-hover</button>

    <button class="bg-gradient-hover">bg-gradient-hover</button>

    <button class="underline-hover">underline-hover</button>

    <button class="swap-color-hover">swap-color-hover</button>

  </body>
</html>
