<!DOCTYPE html>
<html>
  <head>
    <title>Dropdown examples</title>
    <link rel="stylesheet" type="text/css" href="../interlace/interlace.css" />
  </head>
  <body>
    <h1>Dropdown Examples</h1>

    <div class="dropdown">
        <button class="dropdown-btn">Dropdown</button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>

      
      <div class="dropdown">
        <button class="dropdown-btn">Dropdown</button>
        <div class="dropdown-content multi-column">
          <div class="column">
            <h3>Column 1</h3>
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
          <div class="column">
            <h3>Column 2</h3>
            <a href="#">Link 4</a>
            <a href="#">Link 5</a>
            <a href="#">Link 6</a>
          </div>
        </div>
      </div>
      
      
  </body>
</html>
